{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}

<!--    <h1>Home page!</h1>-->
<!--    <h2>My posts:</h2>-->

<!--{{object_list}}-->

<!--    {% for post in object_list %}-->
<!--    <ul>-->
<!--        &lt;!&ndash;    {{post}}&ndash;&gt;-->
<!--        {% for key, value in post.items %}-->
<!--        <b>{{key}}:</b> {{value}}-->
<!--        </br>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--    {% endfor %}-->

    <div class="content">
        <div class="posts">
            {% for post in object_list %}
                <div class="post">
                    <a href="{% url 'core:post_detail_page' id=post.id%}">
                        {% if post.image %}
                            <img class="post-img" src="{{ post.image.url }}" alt="IMAGE ERROR">
                            <br>
                        {% endif %}
                        <p class="post-title">{{post.title}}</p>
                        <br>
                        <p class="post-body">{{post.body|truncatechars:100}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content%}
