{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <div class="post_detail">
        <a href="{% url 'core:post_delete_page' id=post.id %}" class="del_post_btn">Delete post</a>
        <h1>Post detail page</h1>
        <div class="post_detail_title">{{ post.title }}</div>
        {% if post.image %}
            <img class="post_detail_image" src="{{ post.image.url }}" alt="IMAGE ERROR">
        {% endif %}
        <div class="post_detail_body">{{ post.body }}</div>
    </div>

    <div class="post_detail_comments">
        <h1>Comments</h1>
        {% for comment in post.comments.all %}
            <li>{{ comment.created_at }} | '{{ comment.author }}' | {{ comment.text }}</li>
        {% endfor %}
    </div>

    <a class="add_comment_btn" href="{% url 'core:add_comment_page' id=post.id%}">Add comment</a>
{% endblock content%}

{% block not_auth_content %}
    <div class="post_detail">
        <h1>Post detail page</h1>
        <div class="post_detail_title">{{ post.title }}</div>
        {% if post.image %}
            <img class="post_detail_image" src="{{ post.image.url }}" alt="IMAGE ERROR">
        {% endif %}
        <div class="post_detail_body">{{ post.body }}</div>
    </div>
{% endblock not_auth_content%}