* {
    margin: 0;
    padding: 0;
}

p {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #298db1;
    max-height: 7vh;
    align-items: center;
    font-size: 24px;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_post_btn {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.add_comment_btn {
    border: 2px solid #a0a8ab;
    margin: 45px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F0FFFF;
    font-size: 24px;
}

.greeting {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin-left: 10px;
    align-items: center;
}

.avatar {
    max-width: 7vh;
    height: auto;
    padding: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    align-items: flex-start;
}

.information {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    margin: 5%;
    padding: 1%;
    max-width: 50%;
}

.photo {
    margin: 5%;
    padding: 1%;
    max-width: 30%;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: #298db1;
    max-height: 7vh;
    font-size: 24px;
}

.content {
    flex-grow: 1
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    background-color: rgb(233, 160, 229);
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 1%;
    width: 27.3%;
}

.post-img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.post-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.post-body {
    font-size: 16px;
}

.post_detail{
    margin-bottom: 40px
}

.post_detail_image {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.post_detail_title {
    font-size: 32px;
    text-align: center;
}

.post_detail_body {
    font-size: 18px;
}

.post_detail_comments{
    margin-bottom: 40px
}

.del_post_btn{
    font-size: 18px;
    color: white;
    background-color: red;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
}

.login_out_btn{
    font-size: 18px;
    /* color: white; */
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}