<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<div class="wrapper">
    <div class="header">
        <ul class="menu">
            <li class="menu-item"><a href="{% url 'core:home_page' %}">Home</a></li>
            <li class="menu-item"><a href="{% url 'core:about_page' %}">About</a></li>
        </ul>

        <div class="header_right">
            <a class="create_post_btn" href="{% url 'core:post_create_page' %}">Create new post</a>
            <div class="user">
                <div class="greeting">
                    Hello, Admin
                    <img class="avatar" src="{% static 'image/avatar.jpg' %}" alt="IMAGE ERROR">
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        {% block content %}{% endblock content %}
    </div>


    <div class="footer">
        <p>MIT License</p>
    </div>
</div>
</body>

</html>